/* .left{ */
	/* height:20%; */
/* } */
/* .center{ */
	/* height:33%; */
/* } */
/* .right{ */
	/* height:15%; */
/* } */
.container1{
	column-count:3;
	/* 把container容器中的内容分为三列 */
	column-gap:5px;
}
.box{
	-webkit-column-break-inside:avoid;
	break-inside:avoid;
	counter-increment:item-counter;
}
.pic_box{
	height:100%;
	width:100%;
	overflow:hidden;
}
.pic_box img{
	width:100%;
}