/* .left{ */
	/* height:100%; */
/* } */
/* .center{ */
	/* height:100%; */
/* } */
/* .right{ */
	/* height:100%; */
/* } */
.container1{
	column-count:var(--columncount);
	/* 把container容器中的内容分为三列 */
	column-gap:20px;
	/* row-gap:10px; */
}
.box{
	-webkit-column-break-inside:avoid;
	break-inside:avoid;
	counter-increment:item-counter;
}
.pic_box{
	width:100%;
	overflow:hidden;
}
.pics{
	width:100%;
}
.pics img{
	vertical-align:top;
	width:100%;
}
.picinformation{
	height:50px;
	width:100%;
	margin-bottom:5px;
	border-bottom:1px solid #F1F1F1;
}
.picinformation p{
	font-size:16px;
	margin:0;
	padding:0;
}
.picinformation a{
	font-size:6px;
	margin:0;
	padding:0;
}