/* .left{ */
	/* height:100%; */
/* } */
/* .center{ */
	/* height:100%; */
/* } */
/* .right{ */
	/* height:100%; */
/* } */
.container1{
	column-count:4;
	/* 把container容器中的内容分为三列 */
	column-gap:10px;
	/* row-gap:10px; */
}
.box{
	-webkit-column-break-inside:avoid;
	break-inside:avoid;
	counter-increment:item-counter;
}
.pic_box{
	margin-bottom:10px;
	overflow:hidden;
}

.pic_box img{
	vertical-align:top;
	width:100%;
}
.picture_box{
	width:100%;
}