html{
	width:100%;
	height:100%;
}
body{
	width:100%;
	height:100%;
	margin:0;
}
iframe{
	width:100%;
	height:100%;
	margin:0;
	overflow:hidden;
}
div{
	overflow:hidden;
}
/* 左导航栏 */
.nav{
	float:left;
	width:7%;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	background-color:#EEEEEE;
}
	.nav ul{
		margin:0;
		margin-top:15%;
		padding:0;
		padding-left:8%;
		list-style:none;
		width:92%;
		height:100%;
		/* display:flex; */
		/* flex-direction:column; */
		/* justify-content:center; */
	}
		.nav ul li{
			width:100%;
			height:auto;
			/* height:auto; */
			/* line-height:30px; */
			margin:0;
			padding:0;
		}
			/* 左导航字体颜色 */
			.nav ul li a{
				width:100%;
				height:100%;
				font-size:100%;
				display:block;
				/* vertical-align:middle; */
				color:#595959;
				text-decoration:none;
				padding:5%;
				padding-right:0;
				margin:0;
				border-radius:12px 0px 0px 12px;
				/* border-bottom:1px solid white; */
			}
			.nav ul li a:hover{
				background-color:white!important;
				color:black!important;
			}
			
/* 内容模块 */
.article{
	margin-right:0;
	float:right;
	width:93%;
	height:100%;
	background-color:white;
}