		.nav{
			float:left;
			width:10%;
			height:100%;
			background-color:gray;
		}
		.nav ul{
			display:flex;
			flex-direction:column;
			justify-content:center;
		}
		.nav li{
			list-style:none;
			height:30px;
			line-height:30px;
		}
		.nav li  a{
			font-size:15px;
			color:white;
		}